@import './utils';

.Item {
  border-bottom: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  padding: 15px 10px;
  h3,
  p {
    margin: 0;
  }
  h3 {
    &:hover {
      cursor: pointer;
    }
  }
  .PlainEnglish {
    color: #777;
    font-size: 1.1rem;
    margin: 24px 0 15px 0;
  }
  .HelpCopy {
    display: block;
    margin: 10px 0;
  }
  .Hidden {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 340ms ease-out;
  }
  &.Lowest,
  &.Expanded.Lowest {
    border-color: $warning-bg-border;
    background: $warning-bg;
    h3 {
      color: $warning-copy;
    }
    .PlainEnglish {
      color: $warning-copy;
    }
    .HelpCopy {
      border-color: $warning-bg-border;
    }
  }
  &.Expanded {
    padding-top: 20px;
    padding-bottom: 20px;
    .Hidden {
      max-height: 500px;
    }
    &.Lowest {
      // box-shadow: 2px 2px 0px 0 $warning-bg-shadow;
      color: $warning-copy;
    }
    // margin-bottom: 1.75rem;
    // border: 2px solid #fdf1f1;
    // box-shadow: 2px 2px 0px 0 $default-bg-shadow;
    border-radius: 5px;
  }  
}

.Options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  label {
    background: $default-bg;
    flex-grow: 1;
    margin: 0 5px;
    padding: 8px;
    border-radius: 4px;
    span {
      small {
        display: block;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 1px;
    }
    &.Highest {

    }
    &.Lowest {

    }
    &.Selected {
      border-color: $selected-bg-border;
      background: $selected-bg;
      box-shadow: 1px 1px 1px 0 $selected-bg-shadow;
      span {
        color: $selected-copy;
      }
    }
  }
}